body{
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Trebuchet MS';
}

.main-website{
    margin: 0% 16%; 
    
}

header{
    overflow: auto;
    margin-bottom: 3%;
}

header section{
    
    margin-top: 0%;
    float: right;
    color: white;
    background-color:#3D5F8E;
    font-size: 50%;
    padding: 4px;
}

header a{
    color: white;
    text-decoration: none; 
}

.nav-bar{
    background-color:rgba(2, 20, 43, 0.889);
    opacity: 0.9;
}
.nav-tab-container{
    border:1px solid #364B60;
    opacity: 1;
}

.active{
    background-color: #355372; 
    border-radius:3px; 
    color: white;
}

.nav-lists>a:hover{
    background-color: #355372; 
    border-radius:3px; 
    color: white;
}

.list-item{
    background:transparent;
    border: none;
}

.logo{
    height: 16%;
    width:auto;
    top:1%;
}

.nav-tabs{
    border-bottom: none;
    padding: 1% 0.2%;
   
    
}

.nav-lists{
    padding:0.4rem 0;
}

.nav-lists>a{
    font-size:80%;
    text-decoration: none;
    color:#a3d7f1;
    padding:0.2rem 1rem;
}

.separator{
    border-right:1px solid white;
    height:0.8rem;
    margin-top:1%;
}

.banner{
    /* background-color:rgba(14, 0, 0, 0.3);  */
    background-image: linear-gradient(to right,rgba(14, 0, 0, 0.3),rgba(14, 0, 0, 0.0),rgba(14, 0, 0, 0.2));
}

.banner-text{
    border:transparent;
    font-weight:300;
    font-size:180%;
    letter-spacing:0.5rem;
    word-spacing: 0rem;
    padding:4%;
    padding-right: 5%;
    text-shadow: 2px 2px black;
}

.tile-image{
    
    margin-bottom: 0.7rem;
}

.container{
    background-color:rgba(2, 20, 43, 0.889);
    margin: 0%;
    padding: 10px 20px;
}

.inner-border{
    border:1px solid rgba(86, 94, 105, 1) ;
    border-image: linear-gradient(to top, rgba(86, 94, 105, 1) 30%, rgba(86, 94, 105, 0.1) 80%)1;  
}

.main-content{
    flex-direction: column;
    padding:0 0.7rem;
  
}

.brighter{
    filter: brightness(200%);
}

.main-text{
    font-family:'Trebuchet MS';
    width: 95%;
    font-size: 0.7rem;
    font-weight: lighter;
    word-spacing: 0.2rem;
    line-height: 2.3vh;
    margin-bottom: 0.6rem;
    letter-spacing: 0.34px;
}

.main-para-link{
    color:#ADDEFE;
}

.footer{
    position:sticky;
    padding:0.1em ;
}

footer{
    background-color: rgba(26, 26, 26, 0.5);
    color:#D5DBF3;
}

.footer>*{
    margin-bottom: 0;
    word-spacing: 0.2rem;
    font-size: 0.6rem;
}

.footer>p{
    margin-top: 2px;
}

.footer-ul>li{
    list-style: none;
}

.footer-ul>li:not(:last-child)::after{
    content: '|';
    padding:0 0.4rem;
}

.footer-links{
    font-size: 0.7rem;
}


@media screen and (min-width: 1080px){
    .logo{
        width: 15%;
        height: auto;
        top:1%
    }
    
    .separator{
        margin-top:0.8%;
        height: 1rem;
    }
    
    header section{
        font-size: 100%;
    }

    .nav-lists>a{
        font-size: 100%;
    }

    .banner-text{
        font-size: 250%;
    }
    .main-text{
        font-size: 1.1rem;
    }
    .footer>*{
        font-size: 0.9rem;
    }
    .footer-links{
        font-size: 1rem;
    }
}

@media screen and (max-width:779px) {
    .logo{
        display: none;
    }
}

@media screen and (max-width:598px) {
    .logo{
        display: none;
    }
   
}