body{
    background-image: url("./bg.jpg");
    padding: 0%;
    margin: 0%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-repeat: no-repeat;
}

#mainWebsite{
    margin: 0% 17%;
  
}

header{
    overflow: auto;
}

header section{
    
    margin-top: 0%;
    float: right;
    color: white;
    background-color:#3D5F8E;
    font-size: 50%;
    padding: 4px;
}

header a{
    color: white;
    text-decoration: none; 
}

.navbar{
    margin-top: 20px;
    overflow: auto;
    background-color:rgba(43,49,61,0.8);
    padding: 0.2%;
    outline: 1px solid #89B3CF;
    outline-offset: -5px;
}

.navbar ul{
    margin-right: 3%;
    margin-bottom: 1.4%;
    padding: 0%;
    float:right;
    flex: 1 2;  
    align-content: center;
    
}

.navbar ul li{
    display: inline;
    list-style-type: none;
}

.navbar ul li a{
    color:#89B3CF;
    text-decoration: none;
    border-right: solid 1px whitesmoke;
    padding-right: 8px;
    margin-right: 5px;
    font-size: 100%;
    
}

.navbar ul>li:nth-child(5) a{
border-right:solid 0px white ;
margin: 0%;
padding: 0%;
}

.navbar img{
    display: block;
    position:absolute;
    top: 0.8%;

}
.slide-one{
    background-color:rgba(43,49,61,0.4);
    padding: 3%;
    font-size: 200%;
}
.content-grid{
    display: flex;
    padding: 3%;
    background-color:rgba(43,49,61,0.9);
}
.content-one{
    font-size: 85%;
}
.content-two{
    font-size: 85%;
    padding: 0% 2%;
    padding-left: 3.5%;
}
.content-three{
    font-size: 85%;
    padding-left: 2%;
}
