body{
    background-image: url('images/bg.jpg');
    font-family: 'Trebuchet MS';
}

.main-website{
    margin: 0% 16%; 
    overflow: hidden;
}

header{
    overflow: auto;
    margin-bottom: 3%;
}

header section{
    
    margin-top: 0%;
    float: right;
    color: white;
    background-color:#3D5F8E;
    font-size: 50%;
    padding: 4px;
}

header a{
    color: white;
    text-decoration: none; 
}

.nav-bar{
    background-color:rgba(2, 20, 43, 0.889);
    opacity: 0.9;
}
.nav-tab-container{
    border:1px solid #364B60;
    opacity: 1;
}

.list-item{
    background:transparent !important;
    border: none;
}

.logo{
    height: 16%;
    width:auto;
    top:2%;
}

.nav-tabs{
    border-bottom: none;
    padding: 0.1% 0%;
   
    
}

.active{
    background-color: #355372 !important; 
    border-radius:3px; 
    color: white !important;
}

.nav-lists>a:hover{
    background-color: #355372 !important; 
    border-radius:3px; 
    color: white !important;
}

.nav-lists{
    padding:0.4rem 0 !important;
}

.nav-lists>a{
    font-size:80%;
    text-decoration: none;
    color:#a3d7f1;
    padding:0.2rem 1rem;
}

.separator{
    border-right:1px solid white;
    height:0.8rem;
    margin-top:2%;
}


.services-container{
    border:1px solid rgba(86, 94, 105, 1);
    border-image: linear-gradient(to top, rgba(86, 94, 105, 1) 30%, rgba(86, 94, 105, 0.1) 80%)1;
    background-color:rgba(2, 20, 43, 0.889);
}
.services-ul{
    padding:0.6rem 0 0.8rem 0;
    border-bottom: 1px solid rgba(190, 182, 182, 0.753);
    border-top: 1px solid rgba(190, 182, 182, 0.753);
}
.image{
    width:100%;
}
.services-ul>li{
    list-style-type: none;
}
.services-list{
    color:#b8d1e4;
}
.our-services-content{
    word-spacing: 0.15rem;
    padding:0 2rem 0 0.8rem !important;
    word-wrap: break-word;
    font-size:75%;
    margin:0.3rem 0rem 0 0;
    line-height: 2.5vh;
    font-weight: bold;
}
.content-header{
    margin-left:-0.2rem !important;
    font-size:1.4rem;
    color:#bed8eb;
}
.our-services-para{
    margin-bottom: 0.6rem !important;
}
.content-ul{
    padding-right: 1.5rem;
    margin-left: 0.7rem;
}

.bottom-content{
    background-color:#14253a;
    border-bottom: 1px solid white;
    border-top:1px solid white;
}
.bottom-content>p{
    margin-left:2.6rem;
    margin-bottom: 0.6rem;
}
.req-btn{
    background: linear-gradient(rgba(20,93,118,255),rgba(33,84,126,255),rgb(11, 27, 40)); 
     border:1px solid rgba(37, 84, 107, 0.592); 
     border-radius: 6px;
    width: fit-content;
    padding:0.1rem  0.6rem 0 0.6rem; 
}
.req-btn>a{
    text-decoration: none;
    color:#d1e0eb !important;
}
.req-btn>a>img{
    height:0.7rem;
    width:0.5rem;
}

.footer{
    position:sticky;
    padding:0.1em !important;
}

footer{
    background-color: rgba(26, 26, 26, 0.5);
    color:#D5DBF3;
}

.footer>*{
    font-size:0.75rem;
    margin-bottom: 0;
    word-spacing: 0.2rem;
    font-size: 0.6rem;
}

.footer>p{
    margin-top: 2px;
}

.footer-ul>li{
    list-style: none;
}

.footer-ul>li:not(:last-child)::after{
    content: '|';
    padding:0 0.4rem;
}

.footer-links{
    font-size: small;
    font-size: 0.7rem;
}